* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: initial;
    text-decoration: initial;
    font-weight: initial;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* navbar */
.nav-container {
    margin: 0px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar center */
.nav-center ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-center ul>li>a {
    font-weight: 400;
    color: white;
}

/* navbar right */
.nav-right {
    display: flex;
    align-items: end;
    gap: 10px;
}

.nav-contact-banner {
    height: 120px;
    width: 40px;
    background-color: green;
    display: inline;
    align-items: center;
    justify-items: center;
    border-radius: 0 0 50px 50px;
}

.nav-contact-banner a {
    color: white;
    font-weight: 100;
    transform: rotate(90deg);
    display: flex;
    white-space: nowrap;
    gap: 10px;
    margin-top: 20px;
}

.nav-contact-banner i {
    color: white
}

.phone-rotate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 14px;
    background-color: green;
    border-radius: 0 0 50px 50px;
    height: 140px;
    width: 34px;
    box-shadow: 0px 8px 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-contact-text {
    margin-bottom: 12px;
}

.nav-contact-phone {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.nav-contact-email {
    color: white;
}

/* hero section */
.hero {
    background-image: linear-gradient(to bottom, rgba(0, 76, 144, 1) 0, rgba(0, 0, 0, 0) 100%), url(https://images.unsplash.com/photo-1540756372570-ed52ab3ac2c6?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.hero-container {
    margin: 0px auto;
    width: 60%;
}

.hero-textbox fieldset {
    height: 550px;
    width: 450px;
    margin: 100px 0 0 100px;
    transform: rotate(-90deg);
    border: 5px solid white;
    color: white;
}

.hero-textbox legend {
    transform: rotate(90deg);
    margin: 0px 0px 0px 150px;
}

.hero-textbox legend h2 {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.hero-textbox p {
    font-size: 20px;
    transform: rotate(90deg);
    transform-origin: left;
    margin: 0px 0px 0px 100px;
    color: white;
}