* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: initial;
    text-decoration: initial;
    font-weight: initial;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px 25px;
    margin: 0px auto;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
}

.nav-contact {
    display: flex;
}

.phone-rotate {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    padding-right: 15px;
    background-color: green;
    border-radius: 0 50px 50px 0;
    height: 35px;
    width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    rotate: 90deg;
}

.phone-number {
    font-size: 25px;
    font-weight: 500;
}

/* hero section */
.hero {
    background-image: linear-gradient(to bottom, #023e8a, #6DACEE);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    width: 80%;
    justify-content: start;
    margin: 0 auto;
}

.hero-textbox>fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    padding: 16px;
    border: 10px solid white;
}

.hero-textbox>fieldset>legend {
    order: -1;
}


/* project section */
.project-container {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.project-img {
    translate: 0 -25px;
    box-shadow: 0px 20px 9px -12px rgba(0, 0, 0, 0.1);
}

.project-text {
    width: 50%;
}